doctype html
html
  head
    link(href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.css', rel='stylesheet')
    link(href='main.css', rel='stylesheet')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.js')
  body
    #index
      :mmd
        * [**Dati**](dati) - An interative app to quickly generate a toy data set. Useful for testing clustering algorithms. [https://github.com/w9/dati]
        * [**ZP**](zp) - 3D scatter plot. [https://github.com/w9/zp]
        * [**vll**](https://rubygems.org/gems/vll) - 3D scatter plot. [https://github.com/w9/vll]
