doctype html
html
  head
    link(href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.css', rel='stylesheet')
    link(href='main.css', rel='stylesheet')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.js')
    script(src='https://apis.google.com/js/platform.js', async, defer)
  body
    #index
      g:plusone
      a(href='dati').
        #[strong Dati] - An interative app to quickly generate a toy data set. Useful for
        testing clustering algorithms.
