doctype html
html
  head
    style.
      body {
        background-color: #fdf6e3;
      }

  body
    #index
      a(href='dati').
        Dati - A interative app to quickly generate a toy data set. Useful for
        testing clustering algorithms.
    
